%p#notice= notice

%p
  %b User:
  = @swit.user_id
%p
  %b Content:
  = @swit.content
%p
  %b Sweet:
  = @swit.sweet
%p
  %b Sour:
  = @swit.sour
%p
  %b Tag:
  = @swit.tag

= link_to 'Edit', edit_swit_path(@swit)
\|
= link_to 'Back', swits_path
