%h2#change_password_header Change Password

#change_password_form
  = form_for @user do |f|
    - if @user.errors.any?
      #error_explanation
        %h2= "#{pluralize(@user.errors.count, "error")} prohibited this user from being saved:"
        %ul
          - @user.errors.full_messages.each do |msg|
            %li= msg
    .field
      = f.label :old_password, "Old Password"
      = f.password_field :old_password, placeholder: 'Enter your old password.', maxlength: 32, required: true
    .field
      = f.label :password, "New Password"
      = f.password_field :password, placeholder: 'Enter your new password.', maxlength: 32, required: true
    .field
      = f.label :password_confirmation
      = f.password_field :password_confirmation, placeholder: 'Re-type your new password.', maxlength: 32, required: true
    .actions
      = f.submit 'Change Password', class: 'button'