!!! 5
%html
	%head
		%title Switter
		= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
		= javascript_include_tag "application", "data-turbolinks-track" => true
		= favicon_link_tag 'switter.png'
		= csrf_meta_tags

	%body
		= render 'includes/header'
		= yield
		= render 'includes/footer'